# top-most EditorConfig file
root = true

# Rules applying to every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Scala and sbt rules
[*.{scala,sbt}]
charset = utf-8
indent_style = space
indent_size = 4

