# Atom remote sync plugin
.remote-sync.json

# Atom ensime plugin
.ensime
.ensime_cache

# sbt
target/

# IntelliJ
.idea/

# macOS files
.DS_Store

*.iml

# Logfiles
*.log

# Compiled Python
*.pyc
__pycache__

# External library
companies.jar
